<!DOCTYPE html>
<html lang="en">
<head>
	<title>Patient Page</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="/images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/animate/animate.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/select2/select2.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/css/util.css">
	<link rel="stylesheet" type="text/css" href="/css/main.css">
<!--===============================================================================================-->
    <style>
        .navbar-brand{
          color: #7AACB3;
      }
        .wrap-contact2{
            width: 1000px;
            height: auto;
        }
    </style>
</head>
<body>
    <!-- Navigation -->
  <nav class="navbar bg-dark fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand" href="/"><img src="/logo60.png" />MIS | Patient</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
      </button>
      <li class="nav-item">
        <a class="nav-link" href="/logout">logout</a>
      </li>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/update">Update profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/login/patient">View prescriptions</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/view_receipt">View receipts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/send_receipt">Send receipts</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

	<div class="bg-contact2" style="background-image: url('/images/bg-02.jpg');">
		<div class="container-contact2">
			<div align="center" class="wrap-contact2">
				
					<span class="contact2-form-title">
						View my prescriptions
					</span>
                    <% for(var i=0; i < results.length; i++){ %>
                            <a href='/prescription/detail/<%= i %>'><span>Prescription <%= i+1 %> | <%= results[i].h_receipt_time %></span></a><br/>
                            <span>-------------------------------------------------</span><br/>
                   <% } %>
                   
                    

				
			</div>
		</div>
	</div>




<!--===============================================================================================-->
	<script src="/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="/vendor/bootstrap/js/popper.js"></script>
	<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="/js/main.js"></script>

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-23581568-13');
	</script>

</body>
</html>
